@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Ubuntu:wght@300&display=swap');  /*Importa fonte do google*/

*{  /*Meche na pagina toda*/
 margin: 0px;
 
}
body{ 
  scroll-behavior: smooth; /* Faz a rolagem da pagina ser suave */
  font-family:'Poppins', sans-serif; /* usa a fonte importada do google */
  font-size: 19px; /*tamanho da fonte*/
  background-image: url(5532919.jpg); /* Coloca o background de estrela */
  color: white; /*Muda a cor do texto de toda a pagina */ 
}
nav{ /*Essa é a navbar */
  font-family:'Poppins', sans-serif; /* usa a fonte importada do google */
}
details{ /* Essa é a coisa q faz a magia acontecer */
  background:rgb(140, 0, 255); /*Muda a cor de fundo da nav*/

  display: flex; /*Faz ficar "Responsivo"*/
}
p{ 
  margin: 5px; /* Faz dar margem sómente no texto */
}

.FlexContainer { /* Isso tudo faz um container Flex, Responsivo, o que seria os "Cards" */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  padding: 20px;

  height: 80vh;
  overflow: auto;
  flex-direction: row;
}

.FlexContainer div { /*Esse aqui arruma o tamanho deles bonitinho*/
  width: 300px;
  height: 300px;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;

  background-color: rgba(255, 255, 255, 0.100);
  backdrop-filter: blur(15px);          /*Isso aqui faz o fundo do card ter um efeito transparente */
  -webkit-backdrop-filter: blur(15px); /*Isso aqui faz o fundo do card ter um efeito transparente */
}
#Mercurio img{  /*Aqui eu arrumo o tamanho dos planetas, e coloco uma luz neles*/
  width: 100%;  
  filter: drop-shadow(0 0 2rem rgb(106, 181, 243))
  
}
#Venus img{ /*Aqui eu arrumo o tamanho dos planetas, e coloco uma luz neles*/
  width: 150%;  
  filter: drop-shadow(0 0 2rem rgb(144, 144, 144));

  margin-left: -80px;
}
#Terra img{ /*Aqui eu arrumo o tamanho dos planetas, e coloco uma luz neles*/
  width: 160%;
  filter: drop-shadow(0 0 2rem rgb(29, 112, 255));
  
  margin-left: -90px;
}
#Marte img{ /*Aqui eu arrumo o tamanho dos planetas, e coloco uma luz neles*/
  width: 090%;
  filter: drop-shadow(0 0 2rem rgb(143, 0, 0));

  margin-left: 10px;
}
#Jupter img{  /*Aqui eu arrumo o tamanho dos planetas, e coloco uma luz neles*/
  width: 90%;
  filter: drop-shadow(0 0 2rem rgb(222, 243, 106));

  margin-left: 10px;
}
#Saturno img{ /*Aqui eu arrumo o tamanho dos planetas, e coloco uma luz neles*/
  width: 119%;
  filter: drop-shadow(0 0 2rem rgb(246, 230, 82));
  margin-left: -25px;
}
#Urano img{ /*Aqui eu arrumo o tamanho dos planetas, e coloco uma luz neles*/
  width: 130%;
  filter: drop-shadow(0 0 2rem rgb(82, 148, 246));
  margin-left: -90px;
}
#Netuno img{  /*Aqui eu arrumo o tamanho dos planetas, e coloco uma luz neles*/
  width: 90%;
  filter: drop-shadow(0 0 2rem rgb(0, 102, 255));
  
  margin-left: 10px;
}