@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Ubuntu:wght@300&display=swap');

*{
 margin: 0px;
 
}
body{
  scroll-behavior: smooth;
  font-family:'Poppins', sans-serif;
  font-size: 19px;
}

ol{
  display: flex;
  background: rgb(223, 223, 223);
  width: 100%;
  height: 40px;
}

li{
  list-style: none;
  padding-left: 30px;
  border-radius: 20px;
  margin-top: 10px;
}
a{
  text-decoration: none;
  color: black;
}

.FlexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  padding: 20px;

  height: 80vh;
  overflow: auto;
  flex-direction: row;
}

.FlexContainer div {
  width: 300px;
  height: 300px;
  margin: 10px;
  background-color: rgba(188, 235, 250, 0.342);
  padding: 5px;
  border-radius: 5px;
}
#Mercurio img{
  width: 100%;
  filter: drop-shadow(0 0 2rem rgb(106, 181, 243))
  
}
#Venus img{
  width: 150%;
  filter: drop-shadow(0 0 2rem rgb(144, 144, 144));

  margin-left: -80px;
}
#Terra img{
  width: 160%;
  filter: drop-shadow(0 0 2rem rgb(29, 112, 255));
  
  margin-left: -90px;
}
#Marte img{
  width: 090%;
  filter: drop-shadow(0 0 2rem rgb(143, 0, 0))
}
#Jupter img{
  width: 90%;
  filter: drop-shadow(0 0 2rem rgb(222, 243, 106));
}
#Saturno img{
  width: 119%;
  filter: drop-shadow(0 0 2rem rgb(246, 230, 82));
  margin-left: -30px;
}
#Urano img{
  width: 130%;
  filter: drop-shadow(0 0 2rem rgb(82, 148, 246));
  margin-left: -90px;
}
#Netuno img{
  width: 90%;
  filter: drop-shadow(0 0 2rem rgb(0, 102, 255));
  
}